.wrapper {
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 20px 10px;
  width: 280px;
  margin: 0 15px 30px 15px;

  .name {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }
}