header {
  background-color: #bde3f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;

  .logoWrapper {
    width: 80px;
  }

  .projectName {
    margin-left: 20px;
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 25px 0 25px 0;

    .logoWrapper {
      width: 130px;
    }

    .projectName {
      margin-left: 40px;
      font-size: 30px;
    }
  }
}
