.container {
  display: flex;
  flex-direction: row;
}

.changePageButton {
  padding-right: 2px;
}

.numberPageButton {
  margin-right: 5px;
  margin-left: 5px;
}

.numberPageButtonActive {
  padding: 3px;
  background-color: green;
}
